@import "tailwindcss";

@theme {
  --color-app: #0a0f0d;
  --color-sidebar: #0d1412;
  --color-card: #131b18;
  --color-line: #1f2a25;
  --color-accent: #1d9e75;
  --color-accent-soft: #5dcaa5;
  --color-muted: #6b7570;
}

span {
  @apply text-muted text-lg;
}

h1 {
  @apply text-4xl font-bold;
}
